/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* debug */
[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px black;
  padding: 2px;
}

/* section1 */

.uno {
  height: 120px;
}

/* section2 */

.due {
  height: 650px;
}

/* section3 */

.treup {
  height: 200px;
}

/* section4 */

#section4 {
  padding-left: 15%;
  padding-right: 15%;
  background-color: blue;
}

.tre {
  height: 200px;/
}
