/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* debug */
[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px black;
  padding: 2px;
}

/* section1 */
/* #section1 {
  padding: 0 10%;
} */

.uno {
  height: 120px;
}
